<nav>
    {{#if user}}
    <a href="/"><img class="nav-link" src="/images/home-link.png"></a>
    <img class="nav-logo" src="/images/logo-full.png">
    {{#user}}
    {{!-- <a  href="/profilepage"><img class="nav-link nav-profileImg" src="/images/userPhotos/{{profileImg}}"></a> --}}
    <img class="nav-link nav-profileImg" src="/images/userPhotos/{{profileImg}}">
    {{/user}}
    {{else}}
    <img class="nav-logo nav-logo-center" src="/images/logo-full.png">
    {{/if}}
</nav>