<div class="post">
    <img src="{{postedBy.profileImg}}">
    <p>{{postedBy.username}}</p>
    <img src="/images/userPhotos/{{image}}">
    <div>
        <p>{{caption}}</p>
    </div>
    <div>
        <button class="likeButton">like</button>
        <button class="commentButton">comment</button>
        {{!-- <p>Likes: {{///likes number}}</p> --}}
    </div>
</div>

