<div class="form-container">
    <form action="/changepassword" method="post" >
        <h3>Change password</h3>
        {{!-- <input name="username" placeholder="username"> --}}
        <input name="currentPassword" type="password" placeholder="current password">
        <input name="newPassword" type="password" placeholder="New password">
        <button type="submit">Change password</button>
    </form>
</div>