<div class="footer-fix-container">
    <div class="form-container comment ">
        <form action="/comment" method="post">
            <input name="comment" placeholder="comment">
            <button type="submit">Create comment!</button>
        </form>
    </div>
</div>