<div>
    <form action="/create" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <input name="caption" placeholder="caption">
        <button type="submit">Create post!</button>
    </form>
</div>