<div>
    <form action="/login" method="post">
        <h3>Log in</h3>
        <input name="username" placeholder="username">
        <input name="password" type="password" placeholder="password">
        <button type="submit">Log in</button>
    </form>
    <a href="/signup">Don't have an account? Sign up!</a>
</div>