<div>
    <img>
    <div>
        <h3>Name</h3>
        <p>bio</p>
        <p>username</p>
        <p>password</p>
        <a>Edit</a>
    </div>
    <div>
        <h3>My posts</h3>
        {{#each post}}
        {{>post}}
        {{/each}}
    </div>
</div>