<div class="profile">
    {{#user}}
    <div class="flex-container">
        <img class="profilepic" src="/images/userPhotos/{{profileImg}}">
        {{!-- <form class="profileimg-form" action="/profilepage-img" method="post" enctype="multipart/form-data">
            <label class="label-profileImg" for="image">
                <input type="file" class="profilepic" name="profileImg" accept="image/*" id="image" style="display:none;"/>
                <img class="profilepic" src="/images/{{profileImg}}"/>
                <input type="submit"/>
            </label>
        </form>  --}}
        <div>
            <h3>{{username}}</h3>
            <p>{{bio}}</p>
            <a href="/updateInfo">Edit info</a>
            {{!-- <form action="/profilepage" method="post">
                <input name="bio" placeholder="Edit bio">
                <button type="submit">Edit</button>
            </form> --}}
        </div>
    </div>

     {{!-- <div>
        <h3>My pet/pets</h3>
        {{#each pets}}
        {{>pets}}
        {{/each}}
    </div> --}}
    <div>
        <h3>My posts</h3>
        <div class="flex-container">
            {{#each posts}}
            <div>
                {{>post}}
            </div>
            {{/each}}
        </div>
    </div>
    {{/user}}
</div>