<div class="form-container">
    <form action="/signup" method="post" >
        <h3>Sign up</h3>
        <input name="username" placeholder="username" required>
        <input name="email" placeholder="email" required>
        <input name="password" type="password" placeholder="password" required>
        <button type="submit">Create account</button>
    </form>
</div>