<div class="form-container">
    <form action="/updateInfo" method="post" enctype="multipart/form-data">
        <h3>Change profile info</h3>
        {{!-- <input name="username" placeholder="username"> --}}
        <input name="bio" placeholder="bio">
        <input name="email" placeholder="email">
        <input  type="file" name="image">
        <button type="submit">Update</button>
    </form>
</div>

