<div class="form-container">
    <form action="/updateInfo" method="post" enctype="multipart/form-data">
        <h3>Change profile photo</h3>
        {{!-- <input name="username" placeholder="username"> --}}
        {{!-- <input name="bio" value="{{user.bio}}">
        <input name="email" value="{{user.email}}"> --}}
        <input  type="file"  name="image">
        <button type="submit">Update</button>
    </form>
</div>