footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    background-color: lightgray;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
}