nav {
    margin: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.nav-link {
    width: 55px;
    margin: 10px;
}

.nav-logo {
    width: 130px;
}

.nav-logo-center {
    margin: 5px auto;
}