.profilepic {
    width: 100%;
    border-radius: 50%;
    margin: 20px;
}

.profile-img-container {
    width: 120px;
    height: 120px;
    margin: 15px 50px 15px 15px;
}

.userinfo-div {
    margin: 20px;
    width: 50%;
}

/* .label-profileImg {
    display: inline-block;
    width: 100%;
    margin: auto;
}

.profileimg-form {
    width: 50%;
    margin: 0 20px 0 0;
} */

.user-images-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.userimages {
    width: 48%;
    margin: 2px;

}

.image-single {
    width: 100%;

}
