.profilepic {
    width: 40%;
    border-radius: 50%;
    margin: 15px;
}

.label-profileImg {
    display: inline-block;
    width: 100%;
    margin: auto;
}

.profileimg-form {
    width: 50%;
    margin: 0 20px 0 0;
}

